<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Epic Chat | Chat</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>
<body>
  <main class="px-4 py-4 has-background-primary" style="height:100vh;">
    <div class="rows">

      <!-- Top -->
      <div class="row">
        <nav class="navbar is-info">
          <div class="navbar-brand">
            <a class="navbar-burger" id="burger">
              <span></span>
              <span></span>
              <span></span>
            </a>
          </div>
          <div class="navbar-menu" id="nav-links">
            <div class="navbar-start" id="links">
              <a class="navbar-item is-hoverable" id="loginButton" href="/logout">Log Out</a>
            </div>
          </div>
        </nav>
      </div>
      
      <!-- Bottom -->
      <div class="row columns">

        <!-- Left -->
        <div class="column has-background-primary">
          <div class="box">
          <section id="writeMessage"></section>
          <section id="togglePremium"></section>

            <div id="errorMessage" class='hidden'>
              <h3><span id="errorMessageText" class="has-text-danger"></span></h3>
            </div>
          </div>
        </div>
        
        <!-- Right -->
        <div class="column has-background-primary">
          <section id="chat">
          </section>
        </div>

      </div>
    </div>
  </main>
  <script src="/assets/chatBundle.js"></script>
</body>
</html>
